<h1>Email Verification</h1>
<p>Hello <%= @user.name %>,</p>
<p>Thank you for signing up with our service! To verify your email address, please click on the link below:</p>
<p><%= link_to 'Verify Email', @verification_link %></p>
<p>If you did not create an account with us, please ignore this email.</p>
